.cell {
    width: 25px;
    height: 23px;
    text-align: center;
    font-size: 15px;
    color: black;
}
#player {
    position: relative;left: 20px;
    width: 200px;
    height: 30px;
 }
 #reset {
     position: relative;left: -350px;
 }